.language-switcher {
    background-color: #25aaff;
}

.language-switcher__list {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    list-style: none;
    padding: 0;
}

.language-switcher__item {
    margin: 0 8px;
}

.language-switcher__button {
    padding: 24px;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.language-switcher__button--active,
.language-switcher__button:hover,
.language-switcher__button:active {
    border-bottom: 3px solid white;
}
